#m1-LeadScript02-push2{
color:transparent;
overflow:hidden;
background-color: #ffffff; 
padding: 0px 6px 0px 6px;
  border: 2px outset ButtonFace;
  color: GrayText;
  cursor: inherit;
 
  border-width: 5px 5px 5px 5px;
  height: 30px;
  left: 24px;
  line-height: 20px;
  margin-right: 48px;
  top: 310px;
  width: 0px;
}